.sidebar {
    width: 250px !important;
    background-color: #0a0a0a !important;
    padding: 20px;
    border-right: 1px solid #ddd !important;
    overflow-y: auto !important;
    margin: 0 !important;
    position: relative;
}
 
.sidebar ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
 
.sidebar ul li {
    padding: 10px 15px;
    cursor: pointer;
    display: flex;
    align-items: center;
    font-size: 16px;
    color: #f4f5f8 !important;
    background-color: transparent !important;
    border: none !important;
}
 
.sidebar ul li:hover {
    background-color: #3b3d3d !important;
    color: aqua !important;
}
 
.sidebar ul li svg {
    margin-right: 10px;
    font-size: 18px;
}  
